{% load static %}

<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/lux/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <br />
    <div class="container bg-white shadow-md p-5 form-layout">
        <h1>Register Page</h1>
        <br />
        <form action="" method="POST" autocomplete="off">
            {% csrf_token %}
            {{ RegisterForm.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>
    <br />
</html>