{% extends 'writer/navbar.html' %}

{% block content %}
    <br />
    <div class="container bg-white shadow-md p-5 form-layout">
        <h3>Delete account</h3>
        <p>You can delete your account below:</p>
        <br />
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Delete account">
        </form>
        <br />
        <a class='btn' href="{% url 'writer-dashboard' %}"><< Return to dashboard</a>
    </div>
{% endblock %}